* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: xxpx;
}

.clear {
  clear: both;
}

.homepage-bg {
  background-color: #34495e;
}

/* .bg-image {
  background-image: url(../images/Clouds-Image.jpg);
  background-position: center;
  background-size: cover;
} */

.bg-image {
  background-color: #34495e;
}

.gallery-bg {
  background-color: #fff;
}

.clear {
  clear: both;
}

.heading-logo {
  display: block;
  margin: 80px auto;
  width: 300px;
  justify-content: space-around;
}

.heading-para {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.heading-button {
  display: block;
  margin: 20px auto;
  padding: 15px 25px;
  color: #fff;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid white;
  transition: all 200ms ease-in-out;
}

:hover.heading-button {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #fff;
  cursor: pointer;
}

.heading-button-link {
  color: #fff;
  text-decoration: none;
}

:hover.heading-button-link {
  color: #000000;
  text-decoration: none;
}

.logo {
  padding-left: 20px;
  width: 200px;
  margin-top: 30px;
}

.nav-link {
  padding: 70px;
  margin: 30px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

:hover.nav-link {
  color: #34495e;
}

.nav-link-gallery {
  padding: 70px;
  margin: 30px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #545454;
}

:hover.nav-link-gallery {
  color: #34495e;
}

.navbar-color {
  position: absolute;
  z-index: 5;
  /* background-color: lightcyan; */
  padding-left: 150px;
  display: block;
  margin: 0 auto;
}

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 1000px) {
}

.gallery-title {
  display: block;
  margin: 0 auto;
  color: #545454;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  padding-top: 240px;
  margin-left: 50px;
}

/*Instagram Section*/
.instafeed-container {
  display: block;
  margin: 0 auto;
}

.instagram-section {
  display: block;
  margin: 0 auto;
  padding-bottom: 120px;
}

/*Footer Background*/
.bg-footer {
  background-color: #34495e;
  color: #ffffff; /*Font text*/
}

/*Footer Logo*/
.footer-logo {
  width: 30%;
  margin: 0 auto;
  display: block;
}

/*Footer Contact Information*/
.footer-info {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

:hover.footer-info {
  color: #fff;
}

.footer-contact-us {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-social-media {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

/*Footer icons row section*/
.footer-icon {
  padding: 20px;
  justify-content: center;
}

/*Footer Social Icons*/
/*Facebook icon*/
.fb-ic {
  color: #ffffff;
  cursor: pointer;
}

:hover.fb-ic {
  color: grey;
}

/*Twitter icon*/
.tw-ic {
  color: #ffffff;
  cursor: pointer;
}

:hover.tw-ic {
  color: grey;
}

/*Instagram icon*/
.ins-ic {
  color: #ffffff;
  cursor: pointer;
}

:hover.ins-ic {
  color: grey;
}

/*Linkedin icon*/
.li-ic {
  color: #ffffff;
  cursor: pointer;
}

:hover.li-ic {
  color: grey;
}

/*Footer Horizontal Line*/
.footer-line {
  border: 1px solid #fff;
}

.text-uppercase {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

/*Footer Sonia Ndonga Photography Copyright*/
.footer-sonia-copyright {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

/*Footer Coda Festival Text Link*/
.sonia-photo-text-link {
  color: #fff;
}

:hover.sonia-photo-text-link {
  color: #fff;
}

.coming-soon {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #545454;
  font-size: 40px;
  padding-bottom: 600px;
}
